[flake8]

max-line-length = 120
ignore = E501,E302,W503,E203,E731,E722

# E501                  line too long
# E302                  wrong number of blank lines
# W503                  line break before binary operator
# E203                  whitespace before ':'
# E731                  do not assign a lambda expression, use a def
