body {
	margin: 0;
	user-select: none;
	font-family: 'Segoe UI';
	font-family: 'Roboto';
	-webkit-tap-highlight-color: transparent;
}

#main {
	height: 95vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#switchTypeRow {
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	fill: #F44336;
}

#playPauseRow, #volumeRow {
	height: 20vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#navigationRow {
	height: 50vh;
}

#switchTypeRow > * {
	width: 25vw;
}

svg {
	height: 100%;
	width: 100%;
}

.rippleTarget {
	position: relative;
	cursor: pointer;
}

#volumeDown, #volumeUp {
	width: 20vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

#playPause {
	width: 50vw;
}

#navigationRow > * {
	height: calc(50vh / 3);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#navigationRow > * > * {
	width: 33vw;
}

#magicButton, #focusButton {
	width: 20vw;
	padding: 0 6.5vw;
}

html {
	overflow: hidden;
}

#statusContainer {
	height: 5vh;
	background-color: #9E9E9E;
	position: fixed;
	color: white;
	bottom: 0;
	position: relative;
	font-weight: bold;
	line-height: 5vh;
	padding: 0 2vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#switchTypeRow > *.selected {
	background-color: rgba(244, 67, 54, 0.23);
}

#lowerVolume, #raiseVolume, #play, #pause {
	width: 20vw;
}

#playpause {
	width: 35vw;
	fill: black;
}

#networkStatus {
	display: none;
	width: 20px;
	fill: white;
	margin-left: 7px;
}

#networkStatus.visible {
	display: block;
}

#status {
	flex-grow: 100;
}

#statusDivider {
	margin: 0 7px;
}

#overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
}

#dialogContainer {
	position: absolute;
	z-index: 20;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

#dialogVerticalCenterer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50vh;
}

#dialogHorizontalCenterer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#dialogTitle {
	font-weight: 500;
	margin-bottom: 13px;
	font-size: 150%;
}

#dialogInput {
	width: calc(100% - 15px);
	font-size: 120%;
	padding: 5px;
}

#dialogButtons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 5px;
}

#dialogButtons > * {
	padding: 14px 10px;
	text-transform: uppercase;
	position: relative;
	min-width: 40px;
	text-align: center;
	font-size: 120%;
	color: rgb(38, 153, 244);
	font-weight: 500;
}

.blueRipple .paper-ripple {
	color:  #03A9F4;
}

#overlay {
	pointer-events: none;
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

#dialog {
	transition: transform 300ms ease-in;
	transform: translateY(-100vh);
	pointer-events: none;
	z-index: 1000;
	background-color: white;
	width: calc(90vw - 20px);
	padding: 10px;
}

body.showDialog #overlay {
	opacity: 1;
	pointer-events: all;
}

body.showDialog #dialog {
	transform: translateY(0);
	pointer-events: all;
}

#scrollableContainer {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	overflow-y: hidden;
}

#scrollableContainer > * {
	white-space: nowrap;
}